nbproject
*.DS_Store
osact_test.sql
app/tmp/cache/
app/tmp/logs/
app/tmp/sessions/
app/tmp/tests/
app/.DS_Store
lib/.DS_Store
_git2_L2FF60
*Thumbs.db
*.db
*.bak
*.ori.css
*.ori.js
osact_data.sql
*.pdf
*.ppt
*.doc
affectations.sql
osact_utilisateurs.sql
activitesreelles_exemple.sql

*.mno
